@tailwind base;
@tailwind components;
@tailwind utilities;


.vertical-timeline::before {
  background-color: #22c55e; 
  width: 2px; 

}

.vertical-timeline {
  position: relative; 
  z-index: 0;
}

::-webkit-scrollbar {
  width: 2px;
}


body {
    background-color: #f4f4f0;
    font-family: "Manrope", sans-serif;
}

.hoverEffect:hover {
    border: 1px solid black;
    border-radius: 5px;
    border-bottom-width: 3px;
    border-right-width: 4px;
    transition: all 0.1s ease-in-out;
    
}
